# Supabase (PostgreSQL)
BARZOL_SUPABASE_URL=https://rnfcccnesxunjtpwahce.supabase.co
BARZOL_SUPABASE_ANON_KEY=sb_publishable_3xL_oYW6Of6STNJFbqA1qA_w9EVihYQ
BARZOL_SUPABASE_SERVICE_ROLE_KEY=

# Cloudflare R2 (almacenamiento de imágenes)
BARZOL_R2_ACCOUNT_ID=
BARZOL_R2_ACCESS_KEY=
BARZOL_R2_SECRET_KEY=
BARZOL_R2_BUCKET_NAME=
BARZOL_R2_PUBLIC_URL=
